In [5]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np 
from sklearn.cluster import DBSCAN

In [6]:
df =  pd.read_csv("customers.csv")
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [33]:
x = df[['Gender', 'Age', 'Annual Income (k$)']]
x = pd.get_dummies(x, drop_first=True)
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x = x_scaled

In [36]:
y = np.asarray(df["Spending Score (1-100)"])

In [40]:
epsilon = 0.6
minimumSamples = 10
db = DBSCAN(eps=epsilon, min_samples=minimumSamples).fit(x)
labels = db.labels_

In [38]:
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True

In [39]:
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
n_clusters_

3